$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$color-base: #222831;
$color-base-lighter: #393e46;
$color-base-light: #eeeeee;
$color-accent: #fd7014;
$color-text: #ffffff;
$color-active: #06d6a0;

$font-family: 'Montserrat', sans-serif;