@import '../../../styles/variables';
@import '../../../styles/mixins';

.chat-card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;

  &__header {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding: 0.3em 0.5em 0.3em 1.3em;
    @include font-size(18, 24);
    color: $color-text;
    background-color: $color-accent;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;

    .room {
      padding: 0 0.3em;
      font-weight: 600;
    }

    .icon-online {
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $color-active;
      margin: 0 0.8em;
    }

    .icon-close {
      margin-left: auto;
      span {
        position: relative;
        display: block;
        width: 20px;
        height: 2px;
        background-color: $color-text;
        transform-origin: center;

        &:first-of-type {
          transform: translateY(50%) rotate(45deg);
        }

        &:last-of-type {
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }
  }

  &__messages {
    height: 50vh;
    display: flex;
    flex-direction: column;
    color: $color-base;
    background-color: $color-text;
    overflow: auto;

    & > div:first-child {
      margin-top: auto;
      padding-top: 0.7em;
    }

    .message {
      display: flex;
      padding: 0.5em 1em;
      margin: 0 1em 0.4em 1em;
      margin-bottom: 0.4em;
      width: 85%;
      background-color: $color-base-light;
      border-radius: 1em 1em 1em 0;

      &--right {
        margin-left: auto;
        flex-direction: row-reverse;
        text-align: right;
        background-color: $color-accent;
        border-radius: 1em 1em 0 1em;
        color: $color-text;
      }

      &--center {
        margin-left: auto;
        margin-right: auto;
        padding: 0.2em 0.5em;
        justify-content: center;
        width: 75%;
        text-align: center;
        border-radius: 1em 1em 1em 1em;
        background-color: $color-base-light;
      }

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        text-align: center;
        font-weight: 700;
        background-color: $color-accent;
        color: $color-text;
        border-radius: 50%;
      }

      &__text {
        padding: 0 0.5em;

        &_user {
          font-weight: 700;
        }
      }
    }

    .scroll-bottom {
      right: 14px;
      width: 15px;
      height: 15px;
      background-color: rgba($color-accent, 0.5);
      background-color: rgba($color-base-lighter, 0.3);
      transition: background-color 0.1s ease-in-out;

      &:hover {
        background-color: rgba($color-accent, 0.8);
        background-color: rgba($color-base-lighter, 0.6);
      }
    }
  }

  .emojis-card {
    position: absolute;
    bottom: 40px;
    right: 5px;
  }

  .emojis-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
